<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Diary - Edit entry</title>

    <script type="text/javascript" th:src="@{/script/script.js}"></script>

</head>

    <body>

        <nav th:insert="fragments/navbar.html :: nav"></nav>

        <!--Heading-->
        <h1 class="mx-auto display-3" style="width: 40%; height: 80px; text-align: center;">Edit Entry</h1>

        <div class="row">

            <div class="col-sm-8 offset-sm-2">

                <!--Edit entry form-->
                <form id="new-contact-form" ><!--th:action="@{/diary-entry/entry.id}" method="post"-->
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" th:value="${entry.title}" id="title" required><!--th:field="*{title}"-->
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" th:value="${entry.date}" id="date" required><!--th:field="*{title}"-->
                    </div>
                    <div class="form-group">
                        <label for="textField">Content</label>
                        <textarea class="form-control" rows="4" th:text="${entry.textField}" id="textField" required></textarea><!--th:field="*{contactNumber}"-->
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <label for="imageURL">URL to image</label>
                            <input type="text" class="form-control" th:value="${entry.imageURL}" id="imageURL">
                        </div>
                    </div>
                   <button type="button" class="btn btn-primary" th:onclick="'javascript:updateEntry(' + ${entry.id} + ')'">Edit Entry</button>
                </form>

            </div>

        </div>

    </body>

</html>