<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/script/script.js}"></script>
    <title>Diary - List entries</title>

</head>

    <body>

        <nav th:insert="fragments/navbar.html :: nav"></nav>

        <!--Display Entries-->
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${entries}">
                    <td th:text="${entry.date}"></td>
                    <td th:text="${entry.title}"></td>
                    <td><p th:text="${entry.textField}" style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p></td>
                    <td><img th:src="${entry.imageURL}" alt="No image" style="max-width: 100px; max-height: 40px;"></td>
                    <td><a class="btn btn-warning" th:href="'/diary-entry/edit/' + ${entry.id}" role="button">Edit</a></td>
                    <td><button class="btn btn-danger" th:onclick="'deleteEntry(' + ${entry.id} + ')'" role="button">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>